#page-recipe-list {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#search-recipes {
  margin-top: 3.2rem;
}

#search-recipes label {
  color: var(--color-text-in-primary);
}

#search-recipes button {
  width: 100%;
  height: 5.6rem;
  background: var(--color-secundary);
  color: var(--color-button-text);
  border: 0;
  border-radius: 0.8rem;
  cursor: pointer;
  font: 700 1.6rem Archivo;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: background-color 0.2s;
  margin-top: 3.2rem;
}

#search-recipes button:hover {
  background: var(--color-secundary-dark);
}

#page-recipe-list main {
  margin: 3.2rem auto;
  width: 90%;
}

#page-recipe-list .empty-search {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

#page-recipe-list .title-empty-list {
  text-align: center;
  font-size: 2.2rem;
  max-width: 30rem;
  font-weight: 500;
  font-family: Archivo;
  color: var(--color-text-complement);
}

@media (min-width: 700px) {
  #page-recipe-list {
    max-width: 100%;
  }

  #search-recipes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    position: absolute;
    bottom: -28px;
  }

  #search-recipes .input-block + .input-block,
  #search-recipes .select-block + .select-block {
    margin-top: 0;
  }

  #page-recipe-list main {
    padding: 3.2rem 0;
    max-width: 740px;
    margin: 0 auto;
  }
}
